.section {
    width: 300px;
    height: calc(100vh - 110px);
    background: #f7f7f7;
    position: fixed;
    right: 0;
    top: 110px;
    overflow-y: auto;
    overflow-x: hidden;
}

.section .ant-menu-submenu > .ant-menu {
    background: #f7f7f7;
}