.footer {
    width: 100%;
    background: #20232a;
    color: #fff;
    padding: 10px 300px 50px 10%;
    display: flex;
}

.footer .css_l_content img {
    max-width: 200px;
    height: auto;
    padding-top: 15px;
}

.footer .css_l_content p {
    color: #999;
}

.footer .css_r_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18%;
}

.footer .css_r_content div {
    width: 50%;
    padding-top: 40px;
}

.footer .css_r_content p {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.08em;
}

.footer .css_r_content ul {
    list-style: none;
    padding: 0;
    line-height: 2;
}

.footer .css_r_content ul li:hover {
    color: #61DAFB;
    cursor: pointer;
}