.header {
    height: 110px;
    margin: 0;
    padding: 64px 0 0;
    background-color: #20232a;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
}

.header .mini_icon {
    display: flex;
    height: 36px;
    margin: 10px 20px 0 10%;
}


.header .mini_icon p {
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #61dafb;
    margin-bottom: 0;
}

.header .nav {
    background: #20232a;
    color: #fff;
    border-bottom: 0;
}

.header .nav .ant-menu-item-selected {
    color: #61dafb;
    border-bottom: 2px solid #61dafb;
}

.header .search_box {
    margin-left: 20%;
}

.header .search_box span:first-child {
    margin-top: 8px;
}

.header .search_box span.ant-input-prefix {
    margin-top: 0;
}

.header .search_box input {
    color: #fff;
}

.header .search_box span img {
    height: 20px;
}