.article {
    width: calc(100vw - 300px);
    height: 100%;
    margin-top: 110px;
    padding: 0 10%;
}

.article h1 {
    color: rgb(40, 52, 41);
    font-size: 60px;
    font-weight: 700;
}

.article .css-react p {
    margin-top: 20px;
    font-size: 18px;
}

.article .css-react p:first-child {
    color: #6d6d6d;
    font-size: 18px;
}

.article .css-react hr {
    height: 1px;
    margin-bottom: -1px;
    border: none;
    border-bottom: 1px solid #ececec;
    margin-top: 40px;
}

.article .css-react .css-ul ul {
    padding: 0 0 0 20px;
    font-size: 16px;
    color: #161616;
    margin-top: 20px;
}

.article .wrapper {
    margin-top: 20px;
}

.article .wrapper h2 {
    font-size: 13px;
    color: #000;
}

.article .css-react .css-ul ul li {
    width: fit-content;
    margin-top: 10px;
    background-color: rgba(187,239,253,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}